html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color:#64CC33 ;
    background-image:linear-gradient(to left ,grey,black) ;
    width:100%;
}

.color_red{
    color: red;
    text-shadow: 10px -10px  blue,10px 10px yellow ;
    
}

.container {
    padding: 20px;
    margin: 0 auto;
    
}

.movie {
    margin-top: 50px;
}

.section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
    
}

.section img{
    width: 200px;
    height: 400px;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

